doctype html
html.html-not-found(lang="ru")
  include ../blocks/head

  body.body-not-found
    main
      section.error
        h1.error__title 404
        h2.error__subtitle Страница не найдена
        ul.error__list
          li.error__item
            a(href="/register") Вход и регистрация
          li.error__item
            a(href="/offers/add") Новая публикация
          li.error__item
            a(href="/") Главная страница
        form.error__search.search.search--small(method="get" action="/search" autocomplete="off")
          input(type="search" name="search" placeholder="Поиск" aria-label="Поиск")
          .search__icon
          .search__close-btn
        a.error__logo.logo(href="/")
          img(src="/img/logo.svg" width="179" height="34" alt="Логотип Куплю Продам")

    include ../blocks/scripts
